<div class="center-70"> 
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<div>
  <ul class = "list-group list-group-horizontal black">
  <li><%= link_to "Edit Article", edit_article_path(@article), class: 'list-group-item' %></li>
  <li><%= link_to "Destroy Article", article_path(@article), class: 'list-group-item',
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  </ul>
</div>
</div>

<div class="center-70">
<h4>Comments</h2>
<%= render @article.comments %>

<p>
  <button class="btn-sm" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
   Add comments
  </button>
</p>
<div class="collapse w-auto p-3" id="collapseExample">
  <div class="card card-body">
    <%= render 'comments/form' %>
  </div>
</div>



</div>